body
    form(action='/register' method='POST')
        h2 Register

            h3
                br
                | Username:
                input(type='text', name='username')
                br
                | Email:
                input(type='email', name='email')
                br
                | Password:
                input(type='password', name='password')
                br
                | Confirm Password:
                input(type='password', name='password2')
                br
            input(type='submit', name='register')

